[submodule ".tmux"]
	path = .tmux
	url = git@github.com:vnphanquang/.tmux.git
	branch = vnphanquang
[submodule ".bash-it"]
	path = .bash-it
	url = git@github.com:vnphanquang/bash-it.git
	branch = vnphanquang
[submodule ".vimium"]
	path = .vimium
	url = git@github.com:vnphanquang/vimium.git
	branch = vnphanquang
